---
import type { Location } from '../types/Location'


  export interface Props {
    location: Location
  }

  const { location } = Astro.props

---

<div class="flex flex-col justify-between gap-2 border text-xs p-2 border-gray-700 rounded-md hover:bg-fondo">
  <div>
    <time datetime={new Date(location.created).toLocaleDateString()} class="block text-xs text-gray-500">
      {new Date(location.created).toLocaleDateString()}
     </time>
    <h3 class="font-semibold mb-2 text-lg truncate" title={location.name}>{location.name}</h3>
    <ul class="flex flex-col gap-1">
      <li>
        <dd>
          <dl class="text-text font-medium">Type</dl>
          <dt class="text-xs font-light">{location.type}</dt>
        </dd>
      </li>
      <li>
        <dd>
          <dl class="text-text font-medium">Dimension</dl>
          <dt class="text-xs font-light">{location.dimension}</dt>
        </dd>
      </li>
    </ul>
  </div>
  <a href={`/locations/${location.id}`} class="flex items-center justify-between gap-2 border px-2 border-gray-700 rounded-md bg-fondo">
    visit - {location.residents.length} residents
    <img src="/img/nave.png" alt="" class="w-8 h-8 p-1">
  </a>
</div>